---

---

<footer class="flex flex-col gap-2 text-sm">
  <div>
    <p>
      Site by <a href="https://becker.am">Chris Becker</a>
    </p>
    <p>
      Licensed with Creative Commons <a
        href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >BY-NC-SA 4.0</a
      >
      - 2025
    </p>
    <p>
      Powered by
      <a href="https://astro.build"> Astro </a>
    </p>
  </div>
</footer>

<style>
  footer {
    color: oklch(0.5312 0.027 281.67);
  }

  a {
    color: oklch(0.7151 0.027 281.67);
    text-decoration: underline;
  }
</style>
