---
interface Props {
  className: string;
}

import { cn } from "@/lib/utils";

const { className } = Astro.props;
---

<div
  data-slot="card"
  class={cn(
    "rounded-base items-stretch justify-center shadow-shadow border-2 border-border text-foreground font-base p-4 m-4 max-w-2xl italic",
    className,
  )}>
  <slot />
</div>
